.photo {
    display: inline-block;
    width: 32%;
    height: 33%;
    margin-left: 1%;
    text-align: center;
    border: 0.5px gray solid;
}

/*h2 {*/
    /*width: ;*/
    /*margin: 0px;*/
/*}*/

img {
    width: 100%; height: 33%;
}

/* .galerry {
    display: inline-block;
} */
