/* * {
    box-sizing: border-box;
  } */
  
  .box {
    float: left;
    width: 25%;
    padding: 10px 2px 2px 2px;
  }
  /* .wrapper::after {
    content: "";
    clear: both;
    display: table;
  } */

.icon-container {

}

.card-data {
    
}

.card-info input {
    text-align: center;
}

.order-data {
    float: right;
}

